.container {
    margin: 35px auto;
    max-width: 75vw;
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 5px black; 
    &.container-small {
        max-width: 60vw;
    }
    &.container-large {
        max-width: 90vw;
    }
}
