.flex-auto {
    flex: 1 1 auto;
}

.flex-1 {
    flex: 1 1 $width-padrao;
}

.flex-2 {
    flex: 1 1 $width-padrao*2;
}

.flex-3 {
    flex: 1 1 $width-padrao*3;
}

.flex-4 {
    flex: 1 1 $width-padrao*4;
}

.flex-5 {
    flex: 1 1 $width-padrao*5;
}

.flex-6 {
    flex: 1 1 $width-padrao*6;
}

.flex-7 {
    flex: 1 1 $width-padrao*7;
}

.flex-8 {
    flex: 1 1 $width-padrao*8;
}

.flex-9 {
    flex: 1 1 $width-padrao*9;
}
.flex-10 {
    flex: 1 1 $width-padrao*10;
}

.flex-11 {
    flex: 1 1 $width-padrao*11;
}

.flex-12 {
    flex: 1 1 100%;
}