.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex {
    flex: 1;
}

.flex-1 {
    flex-basis: $width-padrao;
    max-width: $width-padrao;
}

.flex-2 {
    flex-basis: $width-padrao*2;
    max-width: $width-padrao*2;
}

.flex-3 {
    flex-basis: $width-padrao*3;
    max-width: $width-padrao*3;
}

.flex-4 {
    flex-basis: $width-padrao*4;
    max-width: $width-padrao*4;
}

.flex-5 {
    flex-basis: $width-padrao*5;
    max-width: $width-padrao*5;
}

.flex-6 {
    flex-basis: $width-padrao*6;
    max-width: $width-padrao*6;
}

.flex-7 {
    flex-basis: $width-padrao*7;
    max-width: $width-padrao*7;
}

.flex-8 {
    flex-basis: $width-padrao*8;
    max-width: $width-padrao*8;
}

.flex-9 {
    flex-basis: $width-padrao*9;
    max-width: $width-padrao*9;
}
.flex-10 {
    flex-basis: $width-padrao*10;
    max-width: $width-padrao*10;
}

.flex-11 {
    flex-basis: $width-padrao*11;
    max-width: $width-padrao*11;
}

.flex-12 {
    flex-basis: 100%;
}