.form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__group {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 5px;
        }
        input {
            border: 1px solid #ccc;
            height: 35px;
            padding: 0 5px;
            box-shadow: 0.5px 0.5px 4px 0px #ccc;
        }
        span.error {
            color: #ea6363;
            font-size: 13px;
        } 
    } 
}
@media (min-width: 900px) {
    .form-container {
        flex-direction: row;     
    }    
}